In [93]:
from bs4 import BeautifulSoup #for HTML parsing
from selenium import webdriver #to scrap javascript code of page, 'requests' fails to scrap required data

In [94]:
skill_list = []     #list to store tagged skills in job postings
job_type_list = []  #list to store job type : Hourly or Fixed-Price
job_tier_list = []  #list to store job tier : Entry-Level, Intermediate or Expert

In [100]:
for i in range(1,81):
    upwork_url = "https://www.upwork.com/o/jobs/browse/c/data-science-analytics/?page=" + str(i)
    browser = webdriver.Safari()
    browser.get(upwork_url)
    inhtml = browser.execute_script("return document.body.innerHTML")
    soup = BeautifulSoup(inhtml, 'html.parser')
    
    job_tile_soup = soup.select("div[id='jobs-list'] section[class='job-tile']")
    
    for job_tile in job_tile_soup:
        temp_skill_list = job_tile.select("span[class='js-skills skills'] a")
        temp_skill_list = [x.text.strip() for x in temp_skill_list]
        if len(temp_skill_list) == 0:
            continue
        skill_list.extend(temp_skill_list)
        
        temp_job_type_list = job_tile.select("strong[class='js-type']")
        temp_job_type_list = [x.text.strip() for x in temp_job_type_list]
        temp_job_type_list = temp_job_type_list * len(temp_skill_list)
        job_type_list.extend(temp_job_type_list)
        
        temp_job_tier_list = job_tile.select("span[class='js-contractor-tier']")
        temp_job_tier_list = [x.text.strip().split()[0] for x in temp_job_tier_list]
        temp_job_tier_list = temp_job_tier_list * len(temp_skill_list)
        job_tier_list.extend(temp_job_tier_list)

    browser.quit()

In [108]:
for j in range(10):
    print("{}\t{}\t{}".format(skill_list[j], job_type_list[j], job_tier_list[j]))

Python	Fixed-Price	Intermediate
Argus	Hourly	Expert
Financial Analysis	Hourly	Expert
Financial Modeling	Hourly	Expert
Real Estate Appraisal	Hourly	Expert
Real Estate IDX	Hourly	Expert
Real Estate Law	Hourly	Expert
Real Estate Management	Hourly	Expert
Statistics	Hourly	Expert
Financial Analysis	Hourly	Expert

In [101]:
len(skill_list)

2168

In [102]:
len(job_type_list)

2168

In [103]:
len(job_tier_list)

2168

In [104]:
import numpy as np
import pandas as pd

In [106]:
skill_frame = pd.DataFrame({'Skill':skill_list, 'Job Type':job_type_list, 'Job Tier':job_tier_list})

In [107]:
skill_frame.head(10)

       Job Tier     Job Type                   Skill
0  Intermediate  Fixed-Price                  Python
1        Expert       Hourly                   Argus
2        Expert       Hourly      Financial Analysis
3        Expert       Hourly      Financial Modeling
4        Expert       Hourly   Real Estate Appraisal
5        Expert       Hourly         Real Estate IDX
6        Expert       Hourly         Real Estate Law
7        Expert       Hourly  Real Estate Management
8        Expert       Hourly              Statistics
9        Expert       Hourly      Financial Analysis

In [109]:
skill_frame.to_csv('job_postings_data.csv')

In [110]:
df = pd.read_csv('job_postings_data.csv', index_col=0)

In [111]:
df.head()

       Job Tier     Job Type                  Skill
0  Intermediate  Fixed-Price                 Python
1        Expert       Hourly                  Argus
2        Expert       Hourly     Financial Analysis
3        Expert       Hourly     Financial Modeling
4        Expert       Hourly  Real Estate Appraisal