In [1]:
import numpy as np
import pandas as pd

In [2]:
skills_df = pd.read_csv('job_postings_data.csv', index_col=0)

In [3]:
skills_df.head(5)

       Job Tier     Job Type                  Skill
0  Intermediate  Fixed-Price                 Python
1        Expert       Hourly                  Argus
2        Expert       Hourly     Financial Analysis
3        Expert       Hourly     Financial Modeling
4        Expert       Hourly  Real Estate Appraisal

In [16]:
skills_df['Skill'].value_counts()[:10]

Microsoft Excel      143
Data Mining          103
Python                80
Data Entry            79
Data Scraping         73
Data Analytics        65
Machine Learning      64
Internet Research     55
Data Science          54
Web Scraping          39
Name: Skill, dtype: int64

In [17]:
skills_df['Job Type'].value_counts()

Hourly         1248
Fixed-Price     920
Name: Job Type, dtype: int64

In [18]:
skills_df['Job Tier'].value_counts()

Intermediate    947
Expert          737
Entry           484
Name: Job Tier, dtype: int64

In [20]:
skills_df[skills_df['Skill']=='Microsoft Excel']['Job Type'].value_counts()

Hourly         75
Fixed-Price    68
Name: Job Type, dtype: int64

In [21]:
skills_df[skills_df['Skill']=='Microsoft Excel']['Job Tier'].value_counts()

Intermediate    57
Entry           53
Expert          33
Name: Job Tier, dtype: int64

In [22]:
skills_df[skills_df['Skill']=='Data Mining']['Job Type'].value_counts()

Hourly         54
Fixed-Price    49
Name: Job Type, dtype: int64

In [23]:
skills_df[skills_df['Skill']=='Data Mining']['Job Tier'].value_counts()

Entry           44
Intermediate    44
Expert          15
Name: Job Tier, dtype: int64

In [24]:
skills_df[skills_df['Skill']=='Internet Research']['Job Type'].value_counts()

Hourly         31
Fixed-Price    24
Name: Job Type, dtype: int64

In [25]:
skills_df[skills_df['Skill']=='Internet Research']['Job Tier'].value_counts()

Entry           28
Intermediate    19
Expert           8
Name: Job Tier, dtype: int64