In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read csv file into pandas DataFrame
skills_df = pd.read_csv('job_postings_data.csv', index_col=0)

In [3]:
skills_df.head(5)

       Job Tier     Job Type                                       Skill
0  Intermediate  Fixed-Price                               Data Scraping
1  Intermediate  Fixed-Price                                Web Scraping
2        Expert  Fixed-Price                            Machine Learning
3  Intermediate  Fixed-Price  Appforfinance Financial Statement Analysis
4  Intermediate  Fixed-Price                           Business Analysis

In [17]:
skills_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2187 entries, 0 to 2186
Data columns (total 3 columns):
Job Tier    2187 non-null object
Job Type    2187 non-null object
Skill       2187 non-null object
dtypes: object(3)
memory usage: 68.3+ KB

In [16]:
skills_df['Skill'].value_counts()[:60]

Microsoft Excel                        145
Data Mining                            106
Python                                  82
Data Entry                              81
Data Scraping                           74
Machine Learning                        69
Data Analytics                          64
Data Science                            56
Internet Research                       55
Web Scraping                            48
Data Visualization                      39
Statistics                              38
Excel VBA                               31
Analytics                               25
SQL                                     23
Quantitative Analysis                   22
Microsoft Power BI                      21
Tableau Software                        20
Mathematics                             20
Financial Analysis                      20
Data Extraction                         20
R                                       17
Research                                16
API Development                         16
Lead Generation                         16
"Extract, Transform and Load (ETL)"     16
PHP                                     15
Google Analytics                        14
Microsoft Access Programming            13
Artificial Intelligence                 13
Natural Language Processing             13
TensorFlow                              13
Financial Modeling                      13
Amazon Web Services                     13
Deep Learning                           13
Database Design                         12
Microsoft Excel PowerPivot              12
Business Intelligence                   12
Virtual Assistant                       12
JavaScript                              11
Hadoop                                  10
Foreign Exchange Trading                 9
Big Data                                 9
Apache Spark                             9
Amazon Webstore                          8
Market Research                          8
Business Analysis                        8
Content Writing                          7
Bitcoin                                  7
MATLAB                                   7
English                                  7
Computer Vision                          7
Conversion Rate Optimization             7
Image Processing                         7
VBA                                      7
Chatbot Development                      6
WordPress                                6
Java                                     6
Deep Neural Networks                     6
OpenCV                                   6
Name: Skill, dtype: int64

In [5]:
skills_df['Job Type'].value_counts()

Hourly         1248
Fixed-Price     939
Name: Job Type, dtype: int64

In [6]:
skills_df['Job Tier'].value_counts()

Intermediate    942
Expert          741
Entry           504
Name: Job Tier, dtype: int64

In [7]:
skills_df[skills_df['Skill']=='Microsoft Excel']['Job Type'].value_counts()

Hourly         75
Fixed-Price    70
Name: Job Type, dtype: int64

In [8]:
skills_df[skills_df['Skill']=='Microsoft Excel']['Job Tier'].value_counts()

Intermediate    59
Entry           55
Expert          31
Name: Job Tier, dtype: int64

In [9]:
skills_df[skills_df['Skill']=='Data Mining']['Job Type'].value_counts()

Hourly         57
Fixed-Price    49
Name: Job Type, dtype: int64

In [10]:
skills_df[skills_df['Skill']=='Data Mining']['Job Tier'].value_counts()

Entry           48
Intermediate    43
Expert          15
Name: Job Tier, dtype: int64

In [11]:
skills_df[skills_df['Skill']=='Internet Research']['Job Type'].value_counts()

Hourly         34
Fixed-Price    21
Name: Job Type, dtype: int64

In [12]:
skills_df[skills_df['Skill']=='Internet Research']['Job Tier'].value_counts()

Entry           31
Intermediate    17
Expert           7
Name: Job Tier, dtype: int64